<div class="modal-dialog modal-md jumbotron textc" ng-controller="HelpController as hCtr">
  <button type="button" class="close" ng-click="hCtr.closeHelp()">&times;</button>
  <h3>Sorry About That!</h3>
  <button class="btn btn-lg btn-success" href="" ng-click="hCtr.recover()"><h4>Start a trial challenge. <span class="fa fa-hand-o-right"></h4></button>
  <a href="" ui-sref="app.courses"><h4>Click here to view the list of challenges. <span class="glyphicon glyphicon-list"></h4></a>
  <a href="" ui-sref="app.user"><h4>Go to user page. <span class="glyphicon glyphicon-user"></h4></a>
  <a href="" ui-sref="app"><h4>Return Home <span class="glyphicon glyphicon-home"></h4></a>
  <a href="" ng-click="hCtr.closeHelp()"><h4><i class="fa fa-arrow-left"></i> GO BACK</h4></a>

</div>
